* {
  margin: 0;
  padding: 0;
}
header,
nav,
main,
aside,
section,
article,
footer,
div {
  display: block;
}

nav {
  margin-top: 26px;
}

nav a {
  margin-right: 24px;
  font-family: Nunito;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 24px;
  margin-right: 24px;
  color: #612999;
}
nav a:hover {
  color: blueviolet;
}
.nav-flex-container {
  display: flex;
  justify-content: space-between;
}

#logo {
  background-image: url("../images/logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 64px;
  width: 64px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 32px;
  padding-left: 29px;
}

.cards-container > .card {
  display: inline-block;
  width: 376px;
  height: 496px;
  background-color: #efecff;
  border-radius: 38px;
}

.cards-container > .card img {
  height: 357px;
  width: 100%;
  border-radius: 38px;
}

.cards-container > .card h2 {
  color: #000;
  padding-left: 32px;
  text-align: justify;
  font-family: Abel;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cards-container > .card h3 {
  color: #612999;
  text-align: justify;
  font-family: Abel;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 32px;
  margin-bottom: 36px;
}

.cards-container > .card p {
  color: #333;
  padding-left: 32px;
  font-family: Abel;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#card-section {
  overflow: scroll;
  height: 700px;
}

.cards-container > .card .shopping-cart {
  width: 63px;
  height: 63px;
  position: absolute;
}

.cards-container > .card .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  position: relative;
}
.cards-container > .card .flex-container .shopping-cart {
  position: relative;
  width: 63px;
  height: 63px;
}

.cards-container > .card .flex-container .shopping-cart img {
  position: absolute;
  bottom: 0px;
  left: 170px;
  object-fit: scale-down;
}

.cards-container > .card .like-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  position: relative;
}

.cards-container > .card .like-flex-container .like-button {
  width: 47px;
  height: 47px;
  position: relative;
}

.cards-container > .card .like-flex-container .like-button img {
  position: absolute;
  bottom: 580px;
  left: 170px;
  object-fit: scale-down;
}

a {
  text-decoration: none;
}

#logo span {
  font-family: Nunito;
  font-size: 24px;
  padding-left: 75px;
  letter-spacing: 6px;
  line-height: normal;
  display: grid;
  padding-top: 20px;
}

footer {
  background-color: #efecff;
  padding-top: 32px;
  padding-bottom: 32px;
}

footer h6 {
  padding-left: 32px;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#image-container {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#image-container img {
  display: block;
  width: 100%;
  height: 797px;
}

.overlay-text {
  position: absolute;
  top: 32px;
  left: 32px;
  color: white;

  color: #612999;
  font-family: Nunito;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.overlay-text p {
  color: #000;
  width: 448px;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#about-section h2 {
  padding-top: 32px;
  padding-left: 32px;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  overflow: hidden;
}

#about-section #first-paragraph {
  margin-top: 32px;
}

#about-section p {
  margin-left: 32px;
  margin-bottom: 32px;
  width: 1136px;
  height: 85px;
  color: #000;
  text-align: justify;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
}

#footer-flex-container {
  display: flex;
  padding-left: 32px;
}

#icons {
  margin-top: 24px;
  margin-bottom: 16px;
}

#footer-flex-container ul {
  list-style-type: none;
  margin-top: 16px;
}
#footer-flex-container #footer-column2 {
  margin-left: 150px;
}

#footer-flex-container ul li {
  margin-bottom: 8px;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#footer-flex-container ul li a {
  color: #333;
}

#footer-flex-container h5 {
  color: #333;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

#icons {
  padding-left: 32px;
}

#icons img {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}

#Shoes-section img {
  height: 300px;
  margin-right: 32px;
  border: 4px solid #e6dbfe;
}

#Shoes-section {
  margin-left: 32px;
}

#shoe-list-section ul li .Shoes-Element {
  position: relative;
  width: 82px;
  height: 82px;
  position: relative;
  bottom: 0px;
  margin-left: 32px;
}

#shoe-list-section ul li .Shoes-Element img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#shoe-list-section h2 {
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 100% */
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
}

#shoe-list-section ul li h3 {
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 58.333% */
  margin: 16px;
}

#shoe-list-section ul .shoe-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

#video-section {
  margin-left: 32px;
  margin-bottom: 32px;
}
