*{
  margin: 0;
  padding: 0;
}
header, nav, main, aside, section, article, footer, div{
  display: block;
}

nav{
  margin-top: 26px;
}

nav a{
  margin-right:24px;
  font-family: Nunito;
  font-size:14px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-right: 24px;
  color: #612999;
}
.nav-flex-container{
  display:flex;
  justify-content:space-between;
}

#logo{
  background-image: url("../images/logo.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  display:block;
  height: 64px;
  width:64px;
}

a{
  text-decoration:none;
}

#logo span{
  font-family: tahoma;
  font-size: 24px;
  padding-left:75px;
  letter-spacing:6px;
  line-height:normal;
  display: grid;
  padding-top: 20px;
}
